[general]
logfile = git.log

[slack]
endpoint =
channel =
username =

[repositories]
remote = origin
branch = master
repo1 = webhook
;repo2 = path/to/../repo2

[post_commands]
clear_memcached = 'echo "flush_all" | nc 127.0.0.1 11211'
run_composer = "composer update"

;looks into modified files, and run post_command
;only if matches
[post_commands_triggers]
run_composer = composer.lock